<ion-header [translucent]="true">
  <ion-toolbar color="success"> <!-- Utilisation de la couleur "success" pour le vert clair -->
    <ion-title>
      Réinitialiser le mot de passe
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="header-container">
    <h2>Réinitialisation du mot de passe</h2>
    <p>Entrez votre adresse e-mail pour recevoir un lien de réinitialisation.</p>
  </div>

  <ion-grid>
    <ion-row>
      <ion-col size-md="6" offset-md="3">
        <ion-item>
          <ion-label position="floating">Email</ion-label>
          <ion-input type="email"></ion-input>
        </ion-item>

        <ion-button expand="full" color="success" class="ion-margin-top">Envoyer</ion-button>

        <ion-text class="ion-text-center ion-margin-vertical">
          <a class="action-link" routerLink="/register-good">Retour à la connexion</a>
        </ion-text>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
