ion-content {
    --ion-background-color: #ffffff; /* Utilisation de couleur de fond plus claire */
  }
  
  .header-container {
    text-align: center;
    margin-bottom: 30px;
  
    h2, p {
      margin-top: 15px;
      color: var(--ion-color-success); /* Utilisation de la couleur "success" pour le vert clair */
    }
  }
  
  ion-item {
    background-color: #ffffff; /* Légèrement plus clair pour le fond */
    border-radius: 10px; /* Augmentation du rayon de bordure pour un aspect plus arrondi */
    margin-bottom: 20px; /* Augmentation de la marge inférieure */
    box-shadow: 0 4px 8px rgba(76, 175, 80, 0.2); /* Augmentation de l'ombre */
  }
  
  .action-link {
    color: var(--ion-color-success); /* Utilisation de la couleur "success" pour le lien */
    font-weight: 600;
    transition: color 0.3s ease;
  
    &:hover,
    &:active {
      color: var(--ion-color-success-tint); /* Légère teinte de couleur au survol */
    }
  }
  